.about-page {
  background-color: #f8f9fa;
  border-radius: 0.6rem;

  .section-title {
    font-weight: 600;
    margin-bottom: 0.6rem;
    color: #333;
  }
  .mission-content{
    font-size: 0.9rem;
  }
 
  .feature-card {
    background: #ffffff;
    padding: 1.4rem;
    border-radius: 0.8rem;
    text-align: center;
    transition: all 0.3s ease;
    border: 1px solid #eaeaea;

    h5 {
      font-weight: 600;
      margin-bottom: 0.6rem;
    }

    p {
      font-size: 0.9rem;
      color: #6c757d;
    }

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    }
  }
}