.map-container{
 height: calc(100vh);
 width: 100%;
}
.ride-details{
 padding: 1rem 1.5rem;
 background: #fff;
 box-shadow:0 2px 8px rgba(0,0,0,0.1) ;
 position: relative;
}
 .route-tooltip {
  min-width: 18%;
  padding: 4px;
}

.route-tooltip h5 {
  margin-bottom: 6px;
  font-size: 0.9rem;
  font-weight: 600;
}
.route-tooltip p {
  margin: 2px 0;
  font-size: 0.8rem;
}
.invisible-marker {
  display: none;
}
@media (max-width:992px){
    .ride-details{
        padding: 0%;
    }
}