.css-1gqmilo-MuiDataGrid-columnHeaderTitle{
    font-size: 0.8rem !important;
    font-weight: 700 !important;
}
.MuiDataGrid-cell {
 font-size: 0.8rem !important;
}
.MuiButtonBase-root{
    font-size: 0.8rem !important;
   padding: 0;
}